# Learn Pandas

# DataFrame

In [5]:
from pandas import DataFrame

df = DataFrame(range(10), columns=['x'])
df

   x
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [6]:
df['y'] = range(10, 20)
df

   x   y
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19

In [7]:
df['z'] = df['x'] + df['y']
df

   x   y   z
0  0  10  10
1  1  11  12
2  2  12  14
3  3  13  16
4  4  14  18
5  5  15  20
6  6  16  22
7  7  17  24
8  8  18  26
9  9  19  28

In [8]:
df.y

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
Name: y, dtype: int64